* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* 画像 begin */
.main {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.main_img {
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 36s 0s infinite;
  animation: anime 36s 0s infinite;
}

.main_img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.main_img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}
.main_img:nth-of-type(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}
.main_img:nth-of-type(5) {
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}
.main_img:nth-of-type(6) {
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
/* 画像 end */

/* header text begin */
.overlay {
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
}

.navbar {
  width: 85%;
  align-items: center;
  display: flex;
  margin: 35px auto;
}

.logo {
  flex-basis: 15%;
}

.logo p {
  width: 120px;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
}

.menu-icon {
  flex: 1;
  align-items: center;
  text-align: right;
}

.menu-icon img {
  width: 25px;
  margin-left: 40px;
  cursor: pointer;
}

.content {
  width: 60%;
  margin: 160px auto 0;
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 40px;
}

.content h3 {
  width: 80%;
  margin: 20px auto 100px;
  font-weight: 100;
  line-height: 25px;
}
/* header text end */

/* btn begin */
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 0 10px;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-1 {
  border: 2px solid #fff;
  background: transparent;
}

.btn-1:hover {
  border: 2px solid #ffae45;
  background: #ffae45;
}

.btn-2 {
  border: 2px solid #fff;
  background: transparent;
}

.btn-2:hover {
  border: 2px solid #ffae45;
  background: #ffae45;
}
/* btn end */

footer {
  z-index: 10;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
}
